{{!-- Needs to display an individual blog post WITH all associated comments and allow edit/ delete --}}
{{!-- Link button to JS? Delete route? --}}

<div class="col-9 offset-1">
    <span>{{blogpost.title}}</span>
    <hr>
    <div class="container">
        <p>{{blogpost.body}}</p>
    </div>
</div>

{{#each comments as |comment|}}
<div class="col-9 offset-1">
    {{!-- Ideally should use user_id to find and render username --}}
    <span>{{comment.user_id}}</span>
    <hr>
    <div class="container">
        <p>{{comment.body}}</p>
    </div>
</div>
{{/each}}